{% extends 'base.html' %}

{% block title %} about {% endblock %}

{% block css %}
body .container{
border-radius:5px;
border:medium;
border-color:blue;
margin-top: 25px;
}
.display-5 {
font-family: 'Noto Sans', sans-serif;
font-size: 1.5rem;
}
#image{
height:200px;
border-radius: 15%;
border: 2px solid #8f7144;
box-shadow: 0px 0px 9px 0px;
}
.image{
border-radius:5px;

}

.btn-black-outline, .btn-black-outline:active {
background: none;
border-color: #000000;
color: #000000;
}

.btn-md {
font-weight: 500;
letter-spacing: 1px;
margin: .4rem .8rem !important;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
padding: 1rem 3rem;
border-radius: 3px;
}

.fa {
padding: 20px;
font-size: 30px;
width: 50px;
text-align: center;
text-decoration: none;
margin: 5px 2px;
}

#socialIcon{
display:inline-block;
padding-right:5px;
font-size: inherit;
webkit-font-smoothing: antialiased;
transform: translate(0, 0);
padding-bottom: 30px;
}

.fa:hover {
opacity: 0.7;
}

.fa-facebook {
background: #3B5998;
color: white;
border-radius:40%;
<!-- padding-right:10px; -->
}

.fa-google {
background: #dd4b39;
color: white;
border-radius:40%;
margin-left:15px;
}

.fa-instagram {
background: #e84396;
color: white;
border-radius:40%;
margin-left:15px;
}
.fa-whatsapp{
color:rgb(248, 242, 242);
background-color: rgb(81, 252, 195);
border-radius:40%;
margin-left:15px;
}

{% endblock %}



{% block aboutactive %} active {% endblock aboutactive %}

{% block body %}




{% load static %}
<div class="container">

    <!-- <h1 style="font-family: 'Times New Roman', Times, serif;">MYSHOP</h1>
<br> -->

    <main role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron" style="background-color: #2b3035" ;>
            <div class="container">
                <h1 class="display-3" style="color: azure;">MY SHOP</h1>
                <p style="color: #faf3e9;">My Shop Pvt Ltd. is an Indian electronic commerce company based in Ahmedabad,
                    India. Founded by Krish Patel in 2020, the company initially focused on product categories such as
                    consumer electronics, fashion, and lifestyle products.

                </p>
                <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p> -->
            </div>
        </div>

        <!-- <div class="container">
    Example row of columns
    <div class="row">
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
    </div>

    <hr>

  </div> -->

    </main>

    <!-- <div class="row justify-content-md-center"> -->
    <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">
        We are all very different. We were born in different cities, at different times, we love different music, food,
        movies. But we have something that unites us all. It is our company. We are its heart. We are not just a team,
        we are a family.
    </p>


    <div class="image">
        <img src="{% static 'image/IMG_20191109_184001.jpg'%}" id="image" alt="" />
    </div>
    <br>
    <br>

    <h3 style="margin-left: 10px">KRISH PATEL</h3>
    <h4 style="margin-left: 10px; font-family: Arial">CEO OF MYSHOP</h3>
        <h6 style="margin-left: 10px; font-family: Arial">COMPUTER ENGINEER
    </h4>
    <!-- <h6 style="margin-left: 10px; font-family: Arial">EMAIL ID: krishpatel7191@gmail.com</h4> -->
        <br>
        <div class="mbr-section-btn align-center">
            <a class="btn btn-md btn-black-outline display-4" href="/contact/">
                CONTACT US</a>
        </div>
        <div class="socialmediaicons socialmediaicons2" id="socialIcon">
            <a href="https://www.facebook.com/people/Krish-Patel/100010665756658" class="fa fa-facebook"></a>
            <a href="javascript:void(0)" class="fa fa-google"></a>
            <a href="https://www.instagram.com/krish_patel_01/" class="fa fa-instagram"></a>
            <!-- <button type="button" class="fa fa-whatsapp" data-toggle="popover" data-trigger="focus"
                data-placement="bottom" title="Whatsapp No.: 6354291939"></button> -->
            <!-- <img width="22px" height="22px" src="https://www.flaticon.com/svg/static/icons/svg/2965/2965306.svg" class="loaded"> -->

        </div>



        {% endblock %}