{% extends 'base.html' %}

{% block title %} home {% endblock %}

{% block css %}
.container .row .img{
  height: 250px;
  width: 200px;
}
body{
    background-image: url('/static/image/webback8.png');
}

{% endblock %}

{% block js %}
<script>
  let previews = document.getElementsByClassName('preview');
  Array.from(previews).forEach((element)=>{
    element.innerHTML=element.innerText;
  })
</script>

{% endblock %}

{% block homeactive %} active {% endblock homeactive %}

{% block body %}
{% load static %}
<div class="container">
<!-- <div class="container" style="background-image: url('/static/image/webback4.jpg');"> -->

    <div class="jumbotron my-3">
        <h1 class="display-4 color-white">Welcome to KDtek</h1></br>
        <p class="lead" style="font-weight: 400;">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
            featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-lg" href="/blog" role="button" style="background-color: transparent; border-color: black; border-width: 2px">Go to Blog</a>
    </div>
</div>


<div class="container">
    <h2>Popular Blogposts</h2>
    {% for post in posts %}
    <div
        class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 my-4 position-relative bg-light">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">post by {{post.author}}</strong>
            <h3 class="mb-0">{{post.title}}</h3>
            <div class="mb-1 text-muted">{{post.timeStamp}}</div>
            <p class="card-text mb-auto"><div class="preview">{{post.content |safe| truncatechars:500 }}</div></p>
        <a href="/blog/{{post.slug}}/" class="btn btn-primary mr-auto stretched-link text-decoration-none">continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
            <!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                    dy=".3em">Thumbnail</text>
            </svg> -->
            <img class="img" style="object-fit: contain;" src="/media/{{post.image}}" alt="kdtek">
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}