<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


  <title>{% block title %} {%endblock %}</title>
  <style>

    @import url('https://fonts.googleapis.com/css?family=Numans');
    .navbar-nav .nav-link {
      font-weight: 500;
      /* color: white; */
    }
    .navbar-nav .active .nav-link{
      border-radius: 50px;
      background-color: #cb14ff;
      padding-inline: 15px;
    }

    /* nav{
      background-color: #9123ff;
    } */

    {% block css %}


    {% endblock %}
  </style>
  
</head>
<!-- <body style="background-color: rgb(225, 240, 241);"> -->

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- <a class="navbar-brand" href="/" style="font-size: x-large; font-family: cursive; color: lightsalmon;">KDtek</a> -->
    <a class="navbar-brand" href="/"><img src="/static/image/Screenshot_2021_0211_103655.png" width="103px" height="37px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% block homeactive %} {% endblock homeactive %}">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item {% block aboutactive %} {% endblock aboutactive %}">
          <a class="nav-link" href="/about">About Us</a>
        </li>

        <li class="nav-item {% block contactactive %} {% endblock contactactive %}">
          <a class="nav-link" href="/contact">Contact Us</a>
        </li>

        <li class="nav-item {% block blogactive %} {% endblock blogactive %}">
          <a class="nav-link" href="/blog">Blog</a>
        </li>


        <!--    
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            category
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Clothes</a>
            <a class="dropdown-item" href="#">Electronics</a>
            <a class="dropdown-item" href="#">Appliance</a>
            <a class="dropdown-item" href="#">Mobiles</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->

      </ul>

      <form method="get" action="/search/" class="form-inline my-2 mr-3 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search"
          id="search" required>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      {% if user.is_authenticated %}
      <ul class="navbar-nav mr-2">

        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <em>Welcome,</em> <strong>{{request.user}}</strong>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/logout/">Logout</a>
            <a class="dropdown-item" href="#">Electronics</a>
            <a class="dropdown-item" href="#">Appliance</a>
            <a class="dropdown-item" href="#">Mobiles</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
      {% else %}
      <!-- Button trigger signin_modal -->
      <button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#signin">
        Signin
      </button>
      <!-- Button trigger signup_modal -->
      <button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#signup">
        Signup
      </button>
      {% endif %}
    </div>
  </nav>

  {% for message in messages  %}            
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message : </strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
  {% endfor %}    


  <!-- signin_Modal -->
  <div class="modal fade" id="signin" tabindex="-1" aria-labelledby="signin" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="signinTitle">sign in here</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/login/" method="post">
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <input type="text" class="form-control" id="loginusername" name="loginusername" placeholder="username"
                required>

            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input type="password" class="form-control" id="loginpassword" name="loginpassword" placeholder="password"
                required>
            </div>
            <div class="row align-items-center remember mx-2">
              <input type="checkbox">Remember Me
            </div>
            <div class="form-group">
              {% csrf_token %}
              <button type="submit" class="btn float-right login_btn">
                Login
              </button>
              <!-- <input type="submit" value="Login" class="btn float-right login_btn"> -->
            </div>
          </form>
        </div>
        <div class="modal-footer">

        </div>
      </div>
    </div>
  </div>

  <!-- signup_modal -->
  <div class="modal fade" id="signup" tabindex="-1" aria-labelledby="signup" aria-hidden="true">
    <div class="modal-dialog">.
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="signupTitle">sign up here</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/signup/" method="POST">
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <input type="text" class="form-control" id="username" name="username" placeholder="username" required>
            </div>

            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <input type="text" class="form-control" id="fname" name="fname" placeholder="first name" required>
            </div>

            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <input type="text" class="form-control" id="lname" name="lname" placeholder="last name" required>
            </div>

            <div class="input-group form-group">
              <span class="input-group-text"><i class="fa fa-envelope" style="font-size:16px; color: black;"></i></span>
              <input type="email" class="form-control" id="email" name="email" placeholder="E-mail" required>
            </div>

            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input type="password" class="form-control" id="pass1" name="pass1" placeholder="enter password" required>
            </div>

            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input type="password" class="form-control" id="pass2" name="pass2" placeholder="Confirm password"
                required>
            </div>



            <div class="form-group">
              {% csrf_token %}
              <button type="submit" class="btn float-right login_btn">
                Creat Account
              </button>
              <!-- <input type="submit" value="Login" class="btn float-right login_btn"> -->
            </div>
          </form>
        </div>
        <div class="modal-footer">

        </div>
      </div>
    </div>
  </div>

{% block body %}
{% endblock %}


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  {% block js %}
  {% endblock %}
  


</body>




</html>
